*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    text-align: left;
    grid-template-rows: 1fr 1fr;
    background-color: #29326C;
    height: 100vh;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.firstblock{
    padding: 30px;
    padding-top: 100px;
    &>p{
        font-size: 2rem;
        color:  #B4BAD2;
    }
    b{
        color: #E9EAF0;
    }
}
    #btn1{
        padding: 10px 20px;
        border-radius: 8px;
        margin-top: 40px;
        background-color:  #ffffff20;
        color:  #ffffff80;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
     p{
        display: inline;
        color: #E9EAF0;
    }
}
.secondblock{
    background-color: #fff;
    height: 100%;
    border-radius: 0;
    padding: 30px;
    border-radius: 0px 50px 10px 10px;
    input{
        display: block;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        margin: 50px 0;
        font-size: 1.2rem;
        width: 100%;
        border-width: 100%;
        transition-delay: .4s;
        padding-bottom: 8px;
    }
    input:focus{
        border-bottom: 1px solid #29326C;
        transition: .8s;
        border-width: 100%;
    }
    #btn2{
        background-color:  #29326C;
        color: #E9EAF0;
        width: 100%;
        padding: 20px ;
        font-size: 1.1rem;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 8px;
        transition: 0.2s;
    }
        #btn2:active{
            transform: scale(0.9,0.9);
        }
}
@media screen and (min-width:640px){
    body{
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 0 200px;
    }
    .secondblock{
        border-radius: 10px;
        box-shadow: 8px 4px 50px #29326C;
        width: 80%;
    }

}